{{- $cluster := required "A valid .Values.global.cluster is required!" .Values.global.cluster -}}
{{- $region  := required "A valid .Values.global.region is required!" .Values.global.region -}}
{{- $tailnet := required "A valid .Values.global.tailnet (tailnet MagicDNS name) is required!" .Values.global.tailnet -}}

{{- range $appName, $appConfig := .Values.apps }}
{{- if $appConfig.enabled }}
---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: {{ $appName }}
  namespace: argocd
  labels:
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/name: {{ $appName }}
spec:
  project: default
  source:
    repoURL: {{ $appConfig.repoURL }}
    chart: {{ $appConfig.chart }}
    targetRevision: {{ $appConfig.targetRevision }}
    {{- if $appConfig.values }}
    helm:
      releaseName: {{ $appName }}
      valuesObject:
        {{- if typeIs "string" $appConfig.values }}
        {{- tpl $appConfig.values $ | nindent 8 }}
        {{- else }}
        {{- toYaml $appConfig.values | nindent 8 }}
        {{- end }}
    {{- end }}
  destination:
    server: https://kubernetes.default.svc
    namespace: {{ $appConfig.namespace }}
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      {{- if $appConfig.syncOptions }}
      {{- toYaml $appConfig.syncOptions | nindent 6 }}
      {{- else }}
      - CreateNamespace=true
      {{- end }}
{{- end }}
{{- end }}
