apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: rook-ceph-helm
  namespace: argocd
spec:
  project: default
  sources:
    - repoURL: https://charts.rook.io/release
      chart: rook-ceph
      targetRevision: v1.17.6
      helm:
        valuesObject:
          monitoring:
            enabled: true
    - repoURL: https://charts.rook.io/release
      chart: rook-ceph-cluster
      targetRevision: v1.17.5
      helm:
        valuesObject:
          monitoring:
            enabled: true
            createPrometheusRules: true
          cephClusterSpec:
            mgr:
              modules:
                - name: rook
                  enabled: true
            storage:
              useAllNodes: true
              useAllDevices: true
  destination:
    server: https://kubernetes.default.svc
    namespace: rook-ceph
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
