{{- $cluster := required "Deployment invalid: .Values.global.cluster is required!" .Values.global.cluster -}}
{{- $region  := required "Deployment invalid: .Values.global.region is required!" .Values.global.region -}}
{{- $tailnet := required "Deployment invalid: .Values.global.tailnet (tailnet MagicDNS name) is required!" .Values.global.tailnet -}}

{{- range $appName, $appConfig := .Values.apps }}
{{- if not (hasKey $appConfig "enabled") }}
  {{- fail (printf "Application '%s' is invalid: You must specify enabled." $appName) }}
{{- end }}

{{- if $appConfig.enabled }}
{{- if not $appConfig.repoURL }}
  {{- fail (printf "Application '%s' is invalid: You must specify repoURL." $appName) }}
{{- end }}
{{- if not $appConfig.targetRevision }}
  {{- fail (printf "Application '%s' is invalid: You must specify targetRevision (version for Helm charts, branch for manifests)." $appName) }}
{{- end }}
{{- if not $appConfig.namespace }}
  {{- fail (printf "Application '%s' is invalid: You must specify namespace." $appName) }}
{{- end }}
---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: {{ $appName }}
  namespace: argocd
  labels:
    app.homescale.cloud/name: {{ $appName }}
    app.homescale.cloud/cluster: {{ .Values.global.cluster }}
    app.homescale.cloud/region: {{ .Values.global.region }}
spec:
  project: default
  source:
    repoURL: {{ $appConfig.repoURL }}
    targetRevision: {{ $appConfig.targetRevision }}

    {{- if $appConfig.chart }}
    chart: {{ $appConfig.chart }}
    {{- if $appConfig.values }}
    helm:
      releaseName: {{ $appName }}
      valuesObject:
        {{- if typeIs "string" $appConfig.values }}
        {{- tpl $appConfig.values $ | nindent 8 }}
        {{- else }}
        {{- toYaml $appConfig.values | nindent 8 }}
        {{- end }}
    {{- end }}
    {{- else if $appConfig.path }}
    path: {{ $appConfig.path }}
    {{- else }}
    {{- fail (printf "Application '%s' is invalid: You must specify either 'chart' (for Helm) or 'path' (for manifests)." $appName) }}
    {{- end }}

  destination:
    server: https://kubernetes.default.svc
    namespace: {{ $appConfig.namespace }}
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      {{- if $appConfig.syncOptions }}
      {{- toYaml $appConfig.syncOptions | nindent 6 }}
      {{- end }}
{{- end }}
{{- end }}
