apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}
spec:
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: {{ .Release.Name }}
  template:
    metadata:
      labels:
        app: {{ .Release.Name }}
    spec:
      hostNetwork: true
      containers:
        - name: home-assistant
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8123
          volumeMounts:
            - name: {{ .Release.Name }}
              mountPath: /config
          {{- if .Values.zigbee.local }}
          resources:
            limits:
              squat.ai/zigbee: 1
            requests:
              squat.ai/zigbee: 1
          {{- end }}
          securityContext:
            allowPrivilegeEscalation: false
            # runAsNonRoot: true
            # runAsUser: 1000
            # runAsGroup: 1000
            capabilities:
              drop: ["ALL"]
              add:
                - NET_ADMIN
                - NET_RAW
                - NET_BROADCAST
      volumes:
        - name: {{ .Release.Name }}
          persistentVolumeClaim:
            claimName: {{ .Release.Name }}
