kube-prometheus-stack:
  prometheus-node-exporter:
    prometheus:
      monitor:
        metricRelabelings:
          - sourceLabels: ["__meta_kubernetes_pod_node_name"]
            separator: ";"
            regex: "^(.*)$"
            targetLabel: "instance"
            replacement: "$1"
            action: "replace"
          - sourceLabels: ["nodename"]
            targetLabel: "instance"
            regex: "([^:]+)(:[0-9]+)?"
            replacement: "${1}"

  grafana:
    defaultDashboardsEnabled: false
    service:
      type: ClusterIP

    grafana.ini:
      server:
        root_url: "https://metrics-{{ .Values.global.cluster }}.{{ .Values.global.tailnet }}"
      auth:
        disable_login_form: true
      auth.generic_oauth:
        enabled: true
        name: "Entra ID"
        allow_sign_up: true
        auto_login: false
        client_id: "{{ .Values.global.secrets.grafana_oidc_client_id }}"
        client_secret: "{{ .Values.global.secrets.grafana_oidc_client_secret }}"
        scopes: "openid email profile offline_access User.Read"
        auth_url: "https://login.microsoftonline.com/{{ .Values.global.secrets.entra_tenant_id }}/oauth2/v2.0/authorize"
        token_url: "https://login.microsoftonline.com/{{ .Values.global.secrets.entra_tenant_id }}/oauth2/v2.0/token"
        role_attribute_path: "\"Admin\""
        role_attribute_strict: false
        allow_assign_grafana_admin: true
      users:
        auto_assign_org: true
        auto_assign_org_role: "Admin"
        allow_sign_up: false

    persistence:
      enabled: true
      type: pvc
      accessModes:
        - ReadWriteOnce
      size: 5Gi

    ingress:
      enabled: true
      ingressClassName: tailscale
      annotations:
        tailscale.com/hostname: "metrics-{{ .Values.global.cluster }}"
        tailscale.com/tags: "tag:app-metrics,tag:cluster-{{ .Values.global.cluster }},tag:region-{{ .Values.global.region }}"
        tailscale.com/proxy-group: "ingress"
      hosts:
        - "metrics-{{ .Values.global.cluster }}.{{ .Values.global.tailnet }}"
      tls:
        - hosts:
            - "metrics-{{ .Values.global.cluster }}.{{ .Values.global.tailnet }}"

    assertNoLeakedSecrets: false

    dashboardProviders:
      dashboardproviders.yaml:
        apiVersion: 1
        providers:
          - name: grafana-dashboards
            orgId: 1
            folder: ""
            type: file
            disableDeletion: true
            editable: true
            options:
              path: /var/lib/grafana/dashboards/grafana-dashboards

    dashboards:
      grafana-dashboards:
        k8s-system-api-server:
          url: "https://raw.githubusercontent.com/dotdc/grafana-dashboards-kubernetes/master/dashboards/k8s-system-api-server.json"
          token: ""
        k8s-addons-prometheus:
          url: "https://raw.githubusercontent.com/dotdc/grafana-dashboards-kubernetes/master/dashboards/k8s-addons-prometheus.json"
          token: ""
        k8s-system-coredns:
          url: "https://raw.githubusercontent.com/dotdc/grafana-dashboards-kubernetes/master/dashboards/k8s-system-coredns.json"
          token: ""
        k8s-views-global:
          url: "https://raw.githubusercontent.com/dotdc/grafana-dashboards-kubernetes/master/dashboards/k8s-views-global.json"
          token: ""
        k8s-views-namespaces:
          url: "https://raw.githubusercontent.com/dotdc/grafana-dashboards-kubernetes/master/dashboards/k8s-views-namespaces.json"
          token: ""
        k8s-views-nodes:
          url: "https://raw.githubusercontent.com/dotdc/grafana-dashboards-kubernetes/master/dashboards/k8s-views-nodes.json"
          token: ""
        k8s-views-pods:
          url: "https://raw.githubusercontent.com/dotdc/grafana-dashboards-kubernetes/master/dashboards/k8s-views-pods.json"
          token: ""
        k8s-events-exporter:
          url: "https://grafana.com/api/dashboards/17882/revisions/2/download"
          token: ""
        ingress-controller:
          url: "https://grafana.com/api/dashboards/9614/revisions/1/download"
          token: ""
          datasource: Prometheus
        k8s-addons-trivy-operator:
          url: "https://raw.githubusercontent.com/dotdc/grafana-dashboards-kubernetes/master/dashboards/k8s-addons-trivy-operator.json"
          token: ""
        node-exporter-full:
          url: "https://grafana.com/api/dashboards/1860/revisions/41/download"
          token: ""
        argocd-overview:
          url: "https://grafana.com/api/dashboards/14584/revisions/1/download"
          token: ""

  prometheus:
    annotations:
      argocd.argoproj.io/skip-health-check: "true"
    prometheusSpec:
      podMonitorSelectorNilUsesHelmValues: false
      serviceMonitorSelectorNilUsesHelmValues: false
      serviceMonitorSelector: {}
      serviceMonitorNamespaceSelector: {}
      storageSpec:
        volumeClaimTemplate:
          spec:
            accessModes:
              - ReadWriteOnce
            resources:
              requests:
                storage: 50Gi
