apiVersion: v1
kind: Service
metadata:
  name: "{{ .Release.Name }}"
  labels:
    app.homescale.cloud/name: "{{ .Release.Name }}"
  annotations:
    tailscale.com/hostname: {{ .Release.Name }}
    tailscale.com/proxy-group: ingress
    tailscale.com/tags: tag:app,tag:env-{{ .Values.global.env }}
spec:
  type: LoadBalancer
  loadBalancerClass: tailscale
  ports:
  - name: minecraft
    port: 25565
    targetPort: minecraft
    protocol: TCP
  selector:
    app: "{{ .Release.Name }}-minecraft"
