name: "CI"
permissions:
  actions: read
  contents: read
  packages: write
  id-token: write
  issues: write
  pull-requests: write
  security-events: write

on:
  push:
  pull_request:

jobs:
  scan:
    uses: ./.github/workflows/scan.yaml

  build:
    uses: ./.github/workflows/build.yaml

  deploy:
    uses: ./.github/workflows/deploy.yaml
    needs: [build, scan]
    secrets:
      op_service_account_token: ${{ secrets.OP_SERVICE_ACCOUNT_TOKEN }}
