name: "Public Mirror"
permissions:
  contents: read

on:
  push:

jobs:
  mirror:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          fetch-depth: 0

      - name: Push to public mirror
        uses: yesolutions/mirror-action@1708f16cdb28634fd3ba10c5c79abc91f5578a14 # v0.7.0
        with:
          REMOTE: git@github.com:HomeScaleCloud/homescale-public.git
          GIT_SSH_PRIVATE_KEY: ${{ secrets.PUBLIC_DEPLOY_KEY }}
          GIT_SSH_NO_VERIFY_HOST: "true"
